@charset "urf-8";

*{-webkit-box-sizing: border-box;-moz-box-sizing:  border-box;
box}

html, body{margin: 0;padding: 0;}
header, section, article, aside, main, nav, footer{
    display: block;
}
header:after, section:after, article:after, aside:after, main:after, nav:after, footer:after{content: "";display: block; clear: both;
}

h1, h2, h3, h4, h5, h6, 9{margin: 0;}
ul, ol{margin: 0;padding: 0;list-style: none;}
a{text-decoration: none;}
.clear{clear: both;}

/*.pad_t_10{padding-top: 10px;}
.c_main{color: #ee3535;}

/*header part css*/
header{width: 100px;height: 60px; padding: 0 20px;
background-color: #ddd;}
header .logo{float: left;}
header .logo a{display: block; font-size: 20px;line-height: 60px; color: #333; font-weight: bold;}

header nav{float: right;}
header nav ul{}
header nav ul li{float: left; }
header nav ul li a{display: block;font-size: 16px;color: #555;line-height: 60px;}


/*footer part CSS*/
footer{background: #333; padding: 0 20px;}
footer p{font-size: 14px; color: #fff; text-align: center;line-height: 40px;}